<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header "></header>

<div class="alert alert-info mt-2">
    <h6 th:text="'blockchain size: '+${size}"/>
    <h6 th:text="'difficulty one block: '+${difficulty}"/>
    <h6 th:text="'difficulty all blockchain: '+${difficultyAll}"/>
</div>
<div class="alert alert-info mt-2">
    <h6 th:text="'discord: '+${discord}"/>
    <h6 th:text="'telegeram: '+${telegram}"/>
    <h6 th:text="'wallet: '+${github}"/>
    <h6 th:text="'global server: '+${storage}"/>
</div>
<div class="alert alert-info mt-2">
    <h1 th:text="${Summary}"/>
    <h6 th:text="${text}"/>

</div>

<div class="container mt-5">
    <h3 th:text="${title}"/>
    <div class="container">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
            <div class="col mb-3">
                <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                </a>
                <p class="text-body-secondary">© 2023</p>
            </div>




            <div class="col mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/how_to_install" class="nav-link p-0 text-body-secondary">how to install</a></li>
                    <li class="nav-item mb-2"><a href="/summary_and_benefits" class="nav-link p-0 text-body-secondary">summary and benefits</a></li>
                    <li class="nav-item mb-2"><a href="/how_to_open_an_account" class="nav-link p-0 text-body-secondary">how to open an account</a></li>
                    <li class="nav-item mb-2"><a href="/how_to_change_miner_account" class="nav-link p-0 text-body-secondary">How to change miner account</a></li>
                    <li class="nav-item mb-2"><a href="/how_to_mining" class="nav-link p-0 text-body-secondary">How to mining</a></li>
                </ul>
            </div>

            <div class="col mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/how_to_transaction" class="nav-link p-0 text-body-secondary">How to transaction.html</a></li>
                    <li class="nav-item mb-2"><a href="/how_to_apply_for_a_job" class="nav-link p-0 text-body-secondary">how to apply for a job</a></li>
                    <li class="nav-item mb-2"><a href="/how_to_make_laws" class="nav-link p-0 text-body-secondary">how_to_make_laws</a></li>
                    <li class="nav-item mb-2"><a href="/how_to_vote_and_what_voting_types_are_there" class="nav-link p-0 text-body-secondary">how to vote and_what voting types are there</a></li>
                    <li class="nav-item mb-2"><a href="/solving_common_problems" class="nav-link p-0 text-body-secondary">solving_common_problems</a></li>
                </ul>
            </div>

            <div class="col mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">empty</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">empty</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">empty</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">empty</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">empty</a></li>
                </ul>
            </div>
        </footer>
    </div>
    </div>

</div>
<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>